<div class="container">
    <div class="jumbotron py-3">
        <h1 class="display-4 text-center">Books list</h1>
    </div>
    <div class="row">
        <div class="col-md-9 justify-content-center">
            <button type="button" class="btn btn-primary" (click)="addBook()">Add new book</button>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>title</th>
                        <th>description</th>
                        <th>imagePath</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of service.list">
                        <td>{{book.title}}</td>
                        <td>{{book.description}}</td>
                        <td>{{book.imagePath}}</td>
                        <td>
                            <i class="fas fa-edit fa-lg text-primary" (click)="editBook(book)"></i>
                            &nbsp;&nbsp;
                            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(book.id)"></i>
                            &nbsp;&nbsp;
                            <i *ngIf="userService.loggedIn() && !userService.isAdmin()" class="fas fa-shopping-basket fa-lg text-success" (click)="addToCart(book.id)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>